/*
Fonts:
font-family: 'Roboto Mono';
font-family: 'Amatic SC', cursive;
*/
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
	text-align: center;
	color: #222;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 3px;
  	top: 0;
  	bottom: 0;
  	margin: auto;
  	position: absolute;
	background: #222;
	width: 100%;
}

html {
  background: #222;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #C9E8FF;
    opacity:100;

}

div {

}

.wrap {
  margin: 2rem auto 0;
  opacity: 100;

}

h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 2em;
	color: #BBB;
}

p {
	text-align: center;
	color: #BBB;
}
p {
	font-size: 30px;
}
p:hover {
	cursor: pointer;
}

#outer
{
    display: none;
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}


button {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 150px;
}

#RdyforC{
  position: relative;
  font-size: 40px;
  color: #B7DFFD;
  height: 64px;
  line-height: 64px;
}
#RdyforR{
  position: relative;
  font-size: 40px;
  color: #B7DFFD;
  height: 64px;
  line-height: 64px;
}
#RdyforA1{
  position: relative;
  font-size: 40px;
  color: #B7DFFD;
  height: 64px;
  line-height: 64px;
}
#RdyforA2{
  position: relative;
  font-size: 40px;
  color: #B7DFFD;
  height: 64px;
  line-height: 64px;
}
#RdyforP{
  position: relative;
  font-size: 40px;
  color: #B7DFFD;
  height: 64px;
  line-height: 64px;
}



#C {
  background-color: '#B7DFFD';
  background-image: url( '../img/c.png' );
  background-size: 100px 130px;
  height: 134px;
  width: 104px;
}
#R {
  background-image: url( '../img/r.png' );
  background-size: 100px 130px;
  height: 134px;
  width: 104px;
}
#A1 {
  background-image: url( '../img/a1.png' );
  background-size: 100px 130px;
  height: 134px;
  width: 104px;
}
#A2 {
  background-image: url( '../img/a2.png' );
  background-size: 100px 130px;
  height: 134px;
  width: 104px;
}
#P {
  background-image: url( '../img/p.png' );
  background-size: 100px 130px;
  height: 134px;
  width: 104px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  font-color:Black;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #6db5f0;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #6db5f0;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.congrats{
  display: none;
}
